*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 8003px;
}

nav{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left{
    background-color: gray;
    /* width:33% ; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

.middle{
background-color: gray;
/* width:33% ; */
flex: 1;
border-radius: 10px;
box-shadow: 2px 2px 5px;
font-size: 1.5rem;
display: flex;
gap: 0.5rem;
flex-direction: row;
justify-content: center;
align-items: center;
height: 150px;
z-index: 1;

}


.middle a{
    text-decoration: none;
    white-space: nowrap;
    
}

.right{
background-color: gray;
/* width:33% ; */
flex: 1;
font-size: 2rem;
display: flex;
justify-content: space-evenly;
border-radius: 10px;
}
.right a{
    text-decoration: none;
    
}

header{
border: 2px solid red;
background-color: bisque;
margin-top: 20px;
display: flex;
gap: 1rem;
justify-content: center;
padding: 20px;
align-items: center;
flex-wrap: wrap;
}

.img{
/* background-color: green; */
flex: 1 30%;

}
.img img{
width: 100%;
min-width: 300px;

}

.text{
flex: 1 30%;
/* background-color: yellow; */
font-size: 0.7rem;
text-align: justify;

}