@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

:root{
    --primary-color:#bc6c25;
    --secondary-color: #4d3822;
    --hover-color: #e76f51;
    --section-color: #b78752;
    
}

*{
    font-family: "Plus Jakarta sans",serif;
}

/* NAVBAR  */

.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar .container{
    background-color: rgba(0,0,0,0.7);
    text-transform: capitalize;
    font-weight: bold;

}

.navbar-nav{
    font-size: 1.3rem;
}

.nav-link{
    color: white !important;

}
.nav-link:hover{
    color: var(--primary-color) !important;

}

/* CAROUSEL  */


.carousel-item{
    height: 100vh;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption .btn{
    background-color: var(--primary-color);
    border: none;
    width: 10rem;
    font-weight: bold;
    color: white;
}

.carousel-caption .btn:first-child{
    background-color: transparent;
}
.carousel-caption .btn:first-child:hover{
    background-color: white;
    color: black;
}

.carousel-caption{
    bottom: 40%;
}

.hero{
    position: relative;
    z-index: 3;
}
.black{
    background-color: rgba(0,0,0,0.7);
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.carousel-indicators{
    gap: 0.7rem;
}
.carousel-indicators button{
    background-color: var(--primary-color);
    padding: 0.1rem !important;
    width: 3rem !important;
}