*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    /* margin: 0; */
}

#container{
    background-color: aqua;
    border: 1px solid black;

}
.div1{
    background-color: olive;
    width: 150px;
    height: 150px;
    margin-top: 30px;


}
.div2{
background-color:fuchsia;
width: 150px;
    height: 150px;
  /* padding: 50px; */
  border: 5px solid black;
  padding: 10px;
  margin-top: 20px;
  
}

.div3{

    background-color: orangered;
    width: 150px;
    height: 150px;
    margin-top: 10px;

}
.center{
    background-color: red;
    width: 200px;
    margin: auto;
}