/* Error: expected ")".
 *     ,
 * 216 |       background-color: lighten(blue : $i, * 5);
 *     |                                      ^
 *     '
 *   style.scss 216:38  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 216 \2502        background-color: lighten(blue : $i, * 5);\d\a     \2502                                       ^\a     \2575 \a   style.scss 216:38  root stylesheet';
}
