.container{
    display: grid;
    grid-template-columns: 100px repeat(6,1fr) ;
    grid-template-rows: repeat(5,100px) 30px ;
    grid-auto-flow: row;

}

.content{
    border: 1px solid black;
}

.content1{
    background-color: silver;
    grid-area: 2/1/4/2;
    font-size: 0.5rem;
    overflow: auto;
}

.content2{
    background-color: orange;
    grid-area: 1/2/3/4;
    background-image: url("https://picsum.photos/id/227/600/400");
    background-size: cover;
}
.content3{
    background-color: rgba(255, 166, 0, 0.669);
    grid-area: 2/3/3/4;
}
.content4{
    background-color: orange;
    grid-area: 1/4/3/6;
    background-image: url("https://picsum.photos/id/267/600/400");
    background-size: cover;
}
.content5{
    background-color: rgba(255, 166, 0, 0.669);
    grid-area: 2/5/3/6;
}
.content6{
    background-color: orange;
    grid-area: 1/6/3/8;
    background-image: url("https://picsum.photos/id/167/600/400");
    background-size: cover;
}
.content7{
    background-color: rgba(255, 166, 0, 0.669);
    grid-area: 2/7/3/8;
}


.content8{
    background-color: teal;
    grid-area: 3/2/5/4;
    background-image: url("https://picsum.photos/id/454/600/400?blur=5");
    background-size: cover;
}
.content9{
    background-color: rgba(220, 20, 60, 0.854);
    grid-area: 4/3/5/4;
}

.content10{
    background-color: fuchsia;
    grid-column:span 7 ;
    grid-row: 5/6;
}