*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;

    grid-template-columns: 100px 300px 100px ;
    grid-template-rows:100px 400px 100px ;
    grid-template-areas: 
    "header header header"
    "sidebar main aside"
    "footer footer footer" ;
    justify-content: center;
    align-content: center;
    height: 100vh;

}

.content{
    border: 1px solid black;
}

.content1{
    background-color: olive;
    grid-area: header ;
}
.content2{
    background-color: fuchsia;
    grid-area: footer;

}
.content3{
    background-color: teal;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.content4{
    background-color: orange;
    grid-area: aside;

}
.content5{
    background-color: crimson;
    grid-area: sidebar;

}

.item{
    border: 1px solid black;
}

.test{
    background-color: orange;
    display: none;
    display: block;
}