





@use '../abstracts/mixins';
@use '../abstracts/variables';

.contact-bgImg-container{
    @include mixins.bgImg(100vh,variables.$pathname1);

    .nav{
    height: 40vh;
    }
}

.contact{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: center;
        gap: 2rem;

    }

    .text-secondary{
        color: variables.$secondary-color;
    }
}